<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Underwater-Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C83A4871C091B130011C805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C83A49B1C091B130011C805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C83A4A61C091B130011C805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
